# Fundamental
fastapi
gradio
gradio_pdf
boto3
google-genai
openai

# MCP Tools
strands-agents>=0.1.0

# Utilities
uvicorn[standard]
python-dotenv
itsdangerous
cachetools
aiohttp
wikipedia
googlesearch-python
# selectolax
# pdf2image
