/* Hide footer */
footer {
    visibility: hidden;
}

/* Reset base styles */
.app.{SVELTE_CLASS}.{SVELTE_CLASS} {
    padding: var(--size-3) var(--size-2);
    transition: width 0.3s, max-width 0.3s, padding 0.3s;
    max-width: none;
}

/* Small screens (>=640px) */
@media (min-width: 640px) {
    .fillable.{SVELTE_CLASS}.{SVELTE_CLASS}:not(.fill_width) {
        padding: var(--size-3) var(--size-0-5);
        width: 100% !important;
    }
}

/* Medium screens (768px-1023px) */
@media (min-width: 768px) {
    .fillable.{SVELTE_CLASS}.{SVELTE_CLASS}:not(.fill_width) {
        padding: var(--size-3) var(--size-0-5);
        width: 100% !important;
        max-width: 920px !important;
    }
}

/* Large screens (1024px-1199px) */
@media (min-width: 1024px) {
    .fillable.{SVELTE_CLASS}.{SVELTE_CLASS}:not(.fill_width) {
        padding: var(--size-3) var(--size-2);
        width: 90% !important;
        max-width: 960px !important;
    }
}

/* Extra large screens (>=1200px) */
@media (min-width: 1200px) {
    .fillable.{SVELTE_CLASS}.{SVELTE_CLASS}:not(.fill_width) {
        padding: var(--size-3) var(--size-3);
        width: 80% !important;
        max-width: 1024px !important;
    }
}
